/*------ Global Properties ------*/
/* Global Fonts */
:root {
  --default-font: "Terminal", Courier, monospace;
}

/* Global Colours */
:root, [palette-theme="dark"] {
  --bg-color: #202020;
  --bg-color-bold: #131313;
  --text-color: #ffffff;
  --primary-color: #047d95;
  --secondary-color: #092635;
  --contrast-color: #b77627;
}

[palette-theme="light"] {
  --bg-color: #202020;
  --bg-color-bold: #131313;
  --text-color: #ffffff;
  --primary-color: #047d95;
  --secondary-color: #092635;
  --contrast-color: #b77627;
}

[palette-theme="fallout"] {
  --bg-color: #202020;
  --bg-color-bold: #131313;
  --text-color: #ffffff;
  --primary-color: #047d95;
  --secondary-color: #092635;
  --contrast-color: #b77627;
}

::-webkit-scrollbar {
  width:10px;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  width:2px;
  background-color: var(--primary-color);
}

:root{
  background-color: var(--bg-color);
  width: 100vw;
  overflow: hidden;
}

/*------ General Settings ------*/

/* App */
.App {
  font-family: var(--default-font);
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
    z-index: 2000;
}

.App-link {
  color: var(--contrast-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Amplify Buttons */
.amplify-heading {
  color: var(--text-color);
}

.amplify-button {
  border-radius: 0px;
}

.amplify-button {
  color: var(--default-color-text);
  background-color: var(--primary-color); 
}

.amplify-button--disabled {
  color:var(--text-color);
  background-color: var(--secondary-color); 
  pointer-events: none;
}

.amplify-button:hover {
  background-color: var(--secondary-color);
}

/*------ Components ------*/

/* Tutorial Overlay */
.tutorial-step {
  background-color: var(--primary-color);
  opacity: 0;
}

.tutorial-step .visible {
  z-index: 2000;
  opacity: 1;
}

/* View Editor/Shelter */
.views {
  position: relative;
  z-index: 1000;
}

.view-editor, .view-shelter {
  box-shadow: 1px 1px 2px var(--bg-color-bold);
}

/* Editor Hero */
.suc-text {
  z-index: 1000;
} 

.suc-animation {
  grid-area: 1/1/5/5;
}

.hero-month {
  z-index: -1;
}

.visible {
  z-index: 2000;
  opacity: 1;
}

.hero-month-toggle{
  background-color: rgba(0,0,0,0);
  z-index: 2000;
}

